{% extends 'base.html.twig' %}
{% block title %}Liste Deputes {% endblock %}
{% block style %}
  
{% endblock %}

{% block body %}
<style>
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
}
</style>
 
<div class="container" style="height:100% ;width:100%" >
<h1>Liste des Deputes</h1>
         
                <div class="jumbotron">        
                        <div class="slider"  >
                            <table   id="example" class="cell-border" style="width:100%" > 
                        
                                <thead >
                                    <tr>
                                        <th>Num</th>
                                        <th>Nom</th>
                                        <th>Prenoms</th>
                                        <th>Circonscription</th>
                                        <th>Decision HCC</th>
                                        <th>Entite</th>
                                        <th>Numero Arrete</th>
                                       
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for depute in deputes %}
                                    <tr>
                                        <td>{{ depute.Num }}</td>
                                        <td>{{ depute.DepNom }}</td>
                                        <td>{{ depute.DepPrenom }}</td>
                                        <td>{{ depute.DepCirco }}</td>
                                        <td>{{ depute.DepDecision }}</td>
                                        <td>{{ depute.DepEntite }}</td>
                                        <td>{{ depute.DepNumArrete }}</td>
                                       
                                    
                                        <td>
                                            <a href="{{ path('depute_show', {'id': depute.id}) }}">Afficher</a>
                                        
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">Pas d'enregitrement trouvé</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        

                          
                        </div>
        </div>                
</div> 
   
  
<script>
$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');
 
    var table = $('#example').DataTable({
       
        language: {
            url: '{{asset('datatable/fr.json')}}'
        },
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();

                    switch (title) {
                                case "Num":
                                     $(cell).html('<input type="text" style = "width:120%" placeholder="' + title + '" />');
                                    break;
                              
                                case "Entite":
                                     $(cell).html('<input type="text" style = "width:100%" placeholder="' + title + '" />');
                                    break; 
                                case "actions":
                                     $(cell).html('<p></p>');
                                    break; 
                                default:
                                     $(cell).html('<input type="text" placeholder="' + title + '" />');
                                }

                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
 
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
 
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
       
     dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', {
                extend:'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                   
                },
                 orientation: 'landscape',
                    pageSize: 'LEGAL'},
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis'
        ],
        columnDefs: [ {

            targets: -1,
            visible: true
            
        }
         ]
           
     
        


    });
     
});


</script>


{% endblock %}
  