
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
         <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
         <link rel="stylesheet" href="{{asset('datatable/datatables.min.css')}}" />     
         <link rel="stylesheet" href="{{asset('datatable/Buttons-2.0.1/css/buttons.dataTables.min.css')}}" />  
 
           
        <title>{% block title %}Bienvenue!{% endblock %}</title>
      
    </head>
     <style type="text/css">
      .dropdown:hover .dropdown-menu {
       display: block;
       margin-top: 0; // remove the gap so it doesn't close
 } 
    </style>
  
      
    <body>

 
     



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <a class="navbar-brand" href="{{path('home')}}">Assemblee Nationale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin') }}">Admin
             <span class="sr-only">(current)</span>
            </a>
       </li>
      
     

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SGPAP
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <a class="dropdown-item" href="{{ path('depute_index') }}">Deputes</a>
    <a class="dropdown-item" href="{{ path('assistant_index') }}">Assistants</a>
    <a class="dropdown-item" href="{{ path('conseiller_index') }}">Conseillers</a>
    <a class="dropdown-item" href="{{ path('dircab_index') }}">Dircab</a>
  </div>
</div>



      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
     <li class="nav-item">
       <a class="nav-link" href="{{ path('app_logout') }}">Se Deconnecter</a>
      </li>
      {% else %}
<li class="nav-item">
       <a class="nav-link" href="{{ path('app_login') }}">Se Connecter</a>
      </li>
{% endif %}
     
      
   </ul>
           
 </div>
</nav> 

  <Script src="{{asset('jquery/jquery-1.12.3.js')}}" 
type="text/javascript"></Script>     
<Script src="{{asset('datatable/datatables.min.js')}}" 
type="text/javascript"></Script>     
<Script src="{{asset('datatable/Buttons-2.0.1/js/buttons.dataTables.min.js')}}" 
type="text/javascript"></Script>     
     
<Script src="{{asset('datatable/Buttons-2.0.1/js/buttons.html5.min.js')}}" 
type="text/javascript"></Script>
<Script src="{{asset('datatable/Buttons-2.0.1/js/buttons.print.min.js')}}" 
type="text/javascript"></Script>
<Script src="{{asset('datatable/JSZip-2.5.0/jszip.min.js')}}" 
type="text/javascript"></Script>
<Script src="{{asset('datatable/pdfmake-0.1.36/pdfmake.min.js')}}" 
type="text/javascript"></Script>
<Script src="{{asset('datatable/pdfmake-0.1.36/vfs_fonts.js')}}" 
type="text/javascript"></Script>

<Script src="{{asset('datatable/Buttons-2.0.1/js/buttons.colVis.min.js')}}" 
type="text/javascript"></Script>


</body>
  

 
        {% block body %} {% endblock %}
        {% block javascripts %}
        
        {% endblock %}


{% include 'footer.html.twig' %}

  
</html>
